.social{
	margin-left: auto;
    margin-right: auto;
}
.img-fluid{

}
#about{
	margin-top: -10%;
}
#telaInicial{
	margin-top: -5%;
}
.col-xl-4{
	margin-left: -15%;
}
#bloco1{
	margin-top: 15%;
}

#bloco2{
	margin-top: 15%;
}

#favIcon{
	margin-bottom:-6%;	
}